<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='Create_new_account.css') }}">
    <title>Create new account</title>


</head>
<body>
    <div class="create-wrapper">
        <div class="create-container">
            <h1>Create new account</h1>
            {% if message %}
            <div class="message {{ 'success' if 'successfully' in message else 'error' }}" style="color: rgb(255, 0, 0);">
                {{ message }}
            </div>
        {% endif %}
            <form action="/Create_new_account" class="create" method="post">
                <input type="email" placeholder="Enter your email address" required name="email"><br>
                <input type="text" name="fname" id="fname" required placeholder="Enter your first name"><br>
                <input type="text" name="lname" id="lname" required placeholder="Enter your last name"><br>
                <input type="password" placeholder="Password" required name="password"><br>
                <button type="submit" class="create-account-btn">Create new account</button>
            </form>
            <div class="link">
              
            <hr>
            <button class="login-btn" onclick="window.location.href = '/';">Back to login</button>
            </div>
            
        </div>
        
    </div>
</body>
</html>
